footer{
  background-color: $black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 8vh;
    #footer-links{
      padding-top: 1.1rem;
      grid-column: 4/7;
      li{
        display: inline-block;
        padding: 0 5px;
        a{
          color: $offwhite;
          font-weight: 300;
          text-decoration: none;
          &:hover{
            color: $darkgrey;
          }
        }
      }
    }
    #social{
      padding-top: 0.9rem;
      grid-column: 8/11;
      li{
        display: inline-block;
        padding: 0 5px;
        a{
        color: $offwhite;
        font-weight: 300;
        text-decoration: none;
        &:hover{
            color: $darkgrey;
          }
          img{
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }
